IndraMessengerClient/Service References/Server/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MessengerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MessengerSharedLibrary.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessengerService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetMessageForMe_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageForMe" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetMessageForMe_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageForMeResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetUtentiLoggati_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentiLoggati" />
  </wsdl:message>
  <wsdl:message name="IMessengerService_GetUtentiLoggati_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtentiLoggatiResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessengerService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/Login" message="tns:IMessengerService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/LoginResponse" message="tns:IMessengerService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageForMe">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/GetMessageForMe" message="tns:IMessengerService_GetMessageForMe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/GetMessageForMeResponse" message="tns:IMessengerService_GetMessageForMe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/SendMessage" message="tns:IMessengerService_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/SendMessageResponse" message="tns:IMessengerService_SendMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtentiLoggati">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessengerService/GetUtentiLoggati" message="tns:IMessengerService_GetUtentiLoggati_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessengerService/GetUtentiLoggatiResponse" message="tns:IMessengerService_GetUtentiLoggati_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMessengerService" type="tns:IMessengerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMessengerService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageForMe">
      <soap:operation soapAction="http://tempuri.org/IMessengerService/GetMessageForMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/IMessengerService/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtentiLoggati">
      <soap:operation soapAction="http://tempuri.org/IMessengerService/GetUtentiLoggati" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessengerService">
    <wsdl:port name="BasicHttpBinding_IMessengerService" binding="tns:BasicHttpBinding_IMessengerService">
      <soap:address location="http://localhost/MessengerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>